<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Indicador</title>
</head>
<body>

    <h1>Consulta de Indicador de Ameaça</h1>

    <form id="form-consulta">
        <input
            type="text"
            id="indicator"
            placeholder="Digite um IP, URL ou hash"
        >

        <button type="submit">Consultar</button>
    </form>

    <div id="mensagem"></div>

    <pre id="resultado"></pre>

    <script src="/static/js/index.js"></script>

</body>
</html>